DataScience.pdf
DataScienceWebinarPresentation.pdf
2020MLP1.pptx
Coursera G6BECMCYJMND.pdf
Deep Learning with Python.pdf
Intro to ML.docx
Quiz Video.mp4
probability_stats_for_DS.pdf
/Intro to Machine Learning/Slides
/Data Mining/Slides
/Data Mining/Data Mining.docx
/Data Mining/Tan Data Mining Book.pdf
/Data Mining/rprogramming.pdf
/Data Mining/sol.pdf
/Data Mining/Quiz
Cheat Sheets
/Mining Massive Data Sets/Mining Massive Datasets.pdf
/Mining Massive Data Sets/Slides